body {
    background-image:url(background.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: 4em;
}

h1 {
    color: white;
    font-size: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

h2 {
    color: white;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

h3 {
    color: yellow;
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}